.flutterBackImage {
    position: absolute;
    opacity: 0.3;
    right: 0;
}

#flutterLogo {
    height: auto;
    width: 80%;
    margin-top: 10%;
    float: right;
}

.aboutMeDiv {
    margin-top: 5%;
    margin-left: 5%;
    border-left: 0.1rem solid rgb(1, 87, 155) !important;
}

#aboutMeText {
    font-size: 100%;
    text-align: justify;
}

.statsContainer {
    padding: 3%;
    font-weight: bold;
    padding-bottom: 10%;
    margin-top: 25%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp {
    position: absolute;
    margin-left: 6%;
    margin-top: 10%;
    color: rgb(1, 87, 155);
}

.statsType {
    width: fit-content;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 15%;
}

#statsCounter {
    font-size: 280%;
    text-align: center;
    color: rgb(1, 87, 155) !important;
}

#statsDescription {
    font-size: 120%;
    font-weight: bold;
}

.myOfferingBack {
    position: absolute;
    margin-top: 20%;
}

.myOfferings {
    margin-top: 25%;
}

.offeringsText {
    margin-top: 2%;
}

#offerBlueBack {
    height: auto;
    width: 100%;
}

#MyOfferings {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4vh;
}

#description {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.7vh;
}

.offerings {
    margin-top: 5%;
}

.offeringContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10%;
}

#offeringType {
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 150%;
}

#offeringDesc {
    font-size: 100%;
    text-align: center;
    color: grey;
}

h5 {
    font-size: 150%;
}

.socialLinks {
    margin-top: 10%;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(-60px, 0, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 0.3
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(-60px, 0, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.myPicture {
    margin-top: 3.5%;
}

#pic {
    border-radius: 50%;
    height: auto;
    width: 100%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(65, 136, 132, 0.99);
    }
    100% {
        box-shadow: 0 0 0 1.2rem rgba(65, 136, 132, 0);
    }
}