.myNavBar {
    background-color: rgb(84, 197, 248);
}

.myNavBar .navbar-brand, .myNavBar .navbar-text {
    color: white;
    margin-left: 10%;
    font-size: 32px;
    font-family: 'Kalam', cursive;
}

nav .navbar-nav li a {
    color: white !important;
    font-weight: bold;
    font-size: 18px;
}

nav .navbar-nav li a:hover {
    color: rgb(1, 87, 155) !important;
}

nav .navbar-nav li a:focus {
    color: rgb(1, 87, 155) !important;
}

nav .navbar-nav li a:active {
    color: rgb(1, 87, 155) !important;
}

.blogHeadingContainer {
    border-left: 0.4vw rgb(1, 87, 155) solid;
    margin-left: 8%;
    padding-left: 1%;
}

#blogHeading {
    color: rgb(1, 87, 155) !important;
    font-weight: bold;
    font-size: 4vw;
}

.blogs {
    margin-top: 3%;
}

.post {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    height: 50rem;
}

div.post {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#readMoreBtn {
    border-radius: 20px;
    padding: 8px;
    width: 15rem;
    height: 5rem;
    font-size: 1.5rem;
    color: rgb(1, 87, 155) !important;
    background-color: white;
    border-color: rgb(84, 197, 248);
}

#readMoreBtn:hover {
    color: white !important;
    border-color: rgb(84, 197, 248);
    background-color: rgb(84, 197, 248);
}

.footerContainer {
    background-color: rgb(65, 65, 65);
    margin-top: 10rem;
    height: 5rem;
    position: absolute;
}

.headerLinks {
    margin-top: 1rem;
}

#headLink {
    margin-left: 1.5rem;
    text-decoration: none;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.imgDiv {
    top: 5rem;
}

#copyright {
    color: white;
    padding-top: 1.5rem;
}

#postText {
    text-align: justify;
    font-size: 1.5rem;
}

#postedBy {
    font-size: 1.3rem;
}

#postTopic {
    font-size: 2rem;
}

.up {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.377);
    top: -5.5rem;
    right: 0rem;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: auto;
}

@media only screen and (min-width: 991px) {
    #flutterICTImage {
        width: 60%;
    }
    .post {
        height: 35rem;
    }
    #postTopic {
        font-size: 1.5rem;
    }
    #postedBy {
        font-size: 1rem;
    }
    #postText {
        font-size: 1rem;
    }
    #readMoreBtn {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .post {
        height: 70rem;
    }
    #postImg {
        position: absolute;
        left: 2rem;
    }
    .imgDiv {
        top: 0rem;
        bottom: 5rem;
    }
    .postDesc {
        position: absolute;
        top: 22rem;
    }
    #flutterICTImage {
        width: 100%;
        padding-top: 0.5rem;
    }
    #copyright {
        padding-top: 1.5rem;
    }
    .up {
        width: 4rem;
        height: 4rem;
    }
}

/*End footer*/

/*Start animations*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(65, 136, 132, 0.99);
    }
    100% {
        box-shadow: 0 0 0 1rem rgba(65, 136, 132, 0);
    }
}

@media only screen and (max-width: 770px) {
    #postImg {
        position: absolute;
    }
    .imgDiv {
        position: absolute;
        top: 1rem;
    }
    .post {
        height: 80rem;
    }
    .postDesc {
        position: relative;
        top: 20rem;
        padding-top: 1rem;
    }
    #flutterICTImage {
        width: 100%;
        padding-top: 1rem;
    }
    #copyright {
        padding-top: 1rem;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 730px) {
    #headLinkImg {
        width: 2rem;
        margin-left: 0.0rem;
    }
    #flutterICTImage {
        width: 100%;
        padding-top: 1rem;
    }
    #copyright {
        padding-top: 1rem;
    }
    #blogHeading {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 575px) {
    .imgDiv {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    #blogHeading {
        font-size: 7vw;
    }
    #headLink {
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width: 495px) {
    #flutterICTImage {
        width: 100%;
        height: auto;
    }
    #headLink {
        margin-left: 0.2rem;
    }
}

@media only screen and (max-width: 450px) {
    .post {
        height: 70rem;
    }
    .post {
        top: 2rem;
    }
    .postDesc {
        top: 8rem;
    }
    #headLinkImg {
        height: auto;
        width: 1.7rem;
    }
    #postedBy {
        font-size: 1rem;
    }
    #postText {
        font-size: 1.2rem;
    }
    #readMoreBtn {
        margin-top: 1rem;
        width: 12rem;
        height: 3.5rem;
        text-align: center;
    }
    #readMoreText {
        font-size: 1.2rem;
    }
    #blogHeading {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .post {
        height: 32rem;
    }
}

@media only screen and (min-width: 390px) {
    .footerContainer {
        height: 7rem;
    }
    .headerLinks {
        margin-top: 2rem;
    }
}