.messageHeading {
    width: fit-content;
    margin-top: 5%;
    margin-left: 5%;
}

#blogHeading {
    font-size: 6vw;
}

.messagesList {
    margin-top: 5%;
}

.delNot {
    margin-top: 5%;
}

.msgDeleted {
    font-size: 100%;
    border-radius: 8px;
    color: rgb(155, 1, 1);
    background-color: rgb(255, 184, 184);
    text-align: center;
    border: 1px solid rgb(155, 1, 1);
}

.message {
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid black;
}

#att {
    font-weight: bold;
}

.userAtt {
    margin-left: 3%;
}

#userMessage {
    text-align: justify;
}

p {
    overflow-wrap: break-word;
}

.delBtn {
    right: 0;
    float: right;
    position: absolute;
}