.titleField {
    margin-top: 5%;
}

.form-control {
    margin-top: 2%;
    border-width: 0px;
}

.publishBtn {
    margin-top: 10%;
    margin-left: 1%;
}

#blog_img {
    float: right;
}

.form-control:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.title {
    font-size: 32px;
}

.story {
    resize: none;
}