.titleField {
    margin-top: 5%;    
}

.form-control {
    margin-top: 2%;
    border-width: 0px;
}

.form-control:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.title {
    font-size: 32px;
}

.story {
    resize: none;
}

.publishBtn {
    width: fit-content;
    float: right;
    padding: 2%;
}