@media only screen and (min-width: 993px) {
    #postText {
        font-size: 100%;
    }

    #footerIcon {
        font-size: 250%;
    }
}

@media only screen and (min-width: 576px) {
    #footerIcon {
        margin-top: 1%;
    }
}