@media only screen and (max-width: 576px) {
    .myOfferingBack {
        display: none;
    }
    #MyOfferings {
        font-size: 200%;
        color: black;
    }
    #description {
        font-size: 100%;
        color: black;
    }
}

@media only screen and (max-width: 390px) {
    .fa-reddit {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 768px) {
    #flutterLogo {
        display: none;
    }
}