@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .myPicture {
        margin-top: 7%;
    }

    .statsContainer {
        padding-bottom: 0%;
    }

    .uiux {
        margin-left: 5%;
    }
}