@media only screen and (max-width: 576px) {
    #contactImage {
        display: none;
    }

    .footerContainer {
        height: 15%;
    }

    #flutterICTImage {
        margin-top: 3%;
    }

    .headerLinks {
        position: absolute;
        margin-left: 15%;
        margin-top: 12%;
        text-align: center;
    }
}

@media only screen and (max-width: 390px) {
    .fa-reddit {
        margin-top: 5%;
    }
    #femail {
        margin-top: 3%;
    }
    #fmessage {
        margin-top: 3%;
    }
    .headerLinks {
        margin-top: 18%;
    }
}